/* FOR FORECAST TABLE CELLS */
td.forecast-time-column, td.forecast-monetary-column, td.forecast-ration-column {
	font-weight: bold;
}

td.forecast-time-column {
	text-align: center;
}

td.forecast-monetary-column, td.forecast-ration-column {
	text-align: right;
}

/* FOR DIALOG BACKGROUNDS */
.status-icon {
	background-image: none;
	background-color: transparent !important;
}

/* FOR FORECAST HEADER */
table.forecast-table-header-section {
	background-color: transparent;
}

/* FOR FORM HEADERS */
.input-form-header {
	font-size: 1.6em !important;
}