<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<h:form id="investments"
		action="/faces/dependencies/investment/forecast">
		<p:dataTable id="available-investments" var="investmentRecord"
			value="#{investmentController.getListOfInvestments(customerViewModel.customerNum)}"
			scrollable="true" resizableColumns="true" scrollHeight="512"
			style="font-size:1.15em; border: 1pt solid #d4d4d4;">

			<f:facet name="header">
				<h:outputText value="List of Available Investments" />
			</f:facet>

			<p:column headerText="Investment Name">
				<div style="text-align: right;">
					<h:outputText value="#{investmentRecord.investmentName}" />
				</div>
			</p:column>

			<p:column headerText="Principal">
				<div style="text-align: right;">
					<h:outputText value="#{investmentRecord.principal}" />
					<br />
				</div>
			</p:column>

			<p:column headerText="Interest Rate">
				<div style="text-align: right;">
					<h:outputText value="#{investmentRecord.interestRate}" />
				</div>
			</p:column>

			<p:column headerText="Monthly Contribution">
				<div style="text-align: right;">
					<h:outputText value="#{investmentRecord.monthlyContribution}" />
				</div>
			</p:column>

			<p:column headerText="Term">
				<div style="text-align: right;">
					<h:outputText value="#{investmentRecord.term}" />
				</div>
			</p:column>

			<p:column headerText="Choose Forecast">

				<div style="text-align: center;">
					<p:commandButton value="Show Forecast" ajax="false"
						action="#{investmentController.showForecast(investmentData)}"
						onclick="alert('#{investmentRecord.id}')">
					</p:commandButton>
					<!-- 
							action="/faces/dependencies/investment/forecast?redirect=true" />
							-->
				</div>

			</p:column>

		</p:dataTable>
	</h:form>
</ui:composition>
</html>