<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">
<h:head>
	<!-- For Title -->
	<title><ui:insert name="title">Finance App</ui:insert></title>
	<h:outputStylesheet library="css" name="global.css" />
</h:head>
<h:body style="padding: 60px;">

	<!-- Header Section -->

	<b:navBar brand="Finance App" inverse="true" fixed="top" sticky="true"
		brandHref="#{dispatcher.getPage('index')}" fluid="true">
		<b:navbarLinks>
			<b:navCommandLink value="Investments"
				href="#{dispatcher.getPage('investmentHome').concat('.xhtml')}" />
			<b:navCommandLink value="Property Bonds"
				href="#{dispatcher.getPage('propertyBondHome').concat('.xhtml')}" />
			<b:dropMenu value="Dropdown" iconAwesome="birthday-cake">
				<b:navCommandLink value="Action" href="#"></b:navCommandLink>
				<b:navCommandLink value="Another action" href="#"></b:navCommandLink>
				<b:navCommandLink value="Something else here" href="#"></b:navCommandLink>
				<b:navCommandLink></b:navCommandLink>
				<b:navCommandLink header="Nav header"></b:navCommandLink>
				<b:navCommandLink value="Separated link" href="#"></b:navCommandLink>
				<b:dropMenu value="Nested submenu" iconAwesome="birthday-cake"
					iconAlign="right">
					<b:navCommandLink value="You can nest menus" href="#"></b:navCommandLink>
					<b:dropMenu value="Nested sub-submenu">
						<b:navCommandLink value="... as deep as ..." href="#"></b:navCommandLink>
						<b:dropMenu value="Nested sub-sub-submenu">
							<b:navCommandLink value="... you want!" href="#"></b:navCommandLink>
						</b:dropMenu>
					</b:dropMenu>

				</b:dropMenu>
				<b:navCommandLink value="One more separated link" href="#"></b:navCommandLink>
			</b:dropMenu>
		</b:navbarLinks>
		<h:form class="navbar-form navbar-left hidden-md hidden-sm hidden-xs"
			role="search">
			<div class="form-group">
				<h:inputText class="form-control" placeholder="Search" />
			</div>
			<p:commandButton value="Submit" class="btn btn-default"></p:commandButton>
		</h:form>
		<!-- Following line is needed for TBS 3.0.1 (panel content overflow issue) -->
		<h:form>
			<b:navbarLinks pull="right">
				<b:navLink value="    " href="#"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right" styleClass="hidden-xs">
				<b:navLink value="Link" href="#"></b:navLink>
				<b:dropMenu value="Dropdown">
					<b:navLink value="Action" href="#"></b:navLink>
					<b:navLink value="Another action" href="#"></b:navLink>
					<b:navLink value="Something else here" href="#"></b:navLink>
					<b:navLink></b:navLink>
					<b:navLink header="Nav header"></b:navLink>
					<b:navLink value="Separated link" href="#"></b:navLink>
					<b:navLink value="One more separated link" href="#"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
		</h:form>
	</b:navBar>

	<!-- Content Section -->
	<b:container>
		<ui:insert name="content">The Finance App</ui:insert>
	</b:container>
</h:body>
</html>