<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>

	<p:dialog header="Event" widgetVar="events-dialogue" minHeight="40"
		visible="#{!eventViewModel.valid}">

		<h:form id="propertyBondEventForm">
			<p:inputNumber id="event" rendered="false"></p:inputNumber>
			<p:message for="event" />
			<p:panelGrid columns="2">
				<b>Month: </b>
				<h:panelGroup>
					<div>
						<p:inputNumber id="month" value="#{eventViewModel.month}"
							minValue="0" decimalPlaces="0" />
						<p:message for="month" />
					</div>
				</h:panelGroup>

				<b>Change Monthly Repayment: </b>
				<h:panelGroup>
					<div>
						<p:inputNumber id="monthlyAmount"
							value="#{eventViewModel.monthlyAmount}">
							<f:converter
								converterId="com.psybergate.web.converter.MoneyConverter" />
						</p:inputNumber>
						<p:message for="monthlyAmount" />
					</div>
				</h:panelGroup>
				<b>Change Interest Rate: </b>
				<h:panelGroup>
					<div>
						<p:inputNumber id="interestRate"
							value="#{eventViewModel.interestRate}" decimalPlaces="2"
							decimalSeparator="." />
						<p:message for="interestRate" />
					</div>
				</h:panelGroup>
				<b>Additional Transaction: </b>
				<h:panelGroup>
					<div>
						<p:selectOneMenu id="transactionType"
							value="#{eventViewModel.transactionType}">
							<f:selectItems value="#{eventViewModel.transactionOptions}" />
						</p:selectOneMenu>
						<p:inputNumber id="amount" value="#{eventViewModel.amount}"
							minValue="0">
							<f:converter
								converterId="com.psybergate.web.converter.MoneyConverter" />
						</p:inputNumber>
						<p:message for="amount" />
					</div>
				</h:panelGroup>
			</p:panelGrid>
			<hr />
			<p:commandButton value="Add" ajax="false"
				action="#{propertyBondController.addEvent(propertyBondViewModel, eventViewModel)}">
			</p:commandButton>
		</h:form>
	</p:dialog>

</ui:composition>
</html>