<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition>
	<p:dialog header="Save Forecast" widgetVar="save-dialogue"
		minHeight="40" closeOnEscape="true">
		<h:form>
			<p:panelGrid columns="2">
				<b>Customer Number: </b>
				<h:panelGroup>
					<div>
						<p:inputNumber id="customerNum" minValue="0" decimalPlaces="0"
							placeholder="0" value="#{customerViewModel.customerNum}">
							<f:convertNumber type="number" groupingUsed="true"
								minFractionDigits="2" pattern="#0.00" />
						</p:inputNumber>
						<p:message for="customerNum" />
					</div>
				</h:panelGroup>

				<b>Customer Name: </b>
				<h:panelGroup>
					<div>
						<p:inputText id="customerName" value="#{customerViewModel.name}" />
						<p:message for="customerName" />
					</div>
				</h:panelGroup>

				<b>Forecast Name: </b>
				<h:panelGroup>
					<div>
						<p:inputText id="forecastName"
							value="#{forecastInfo.forecastName}" />
						<p:message id="saveForecastName" for="forecastName" />
					</div>
				</h:panelGroup>

			</p:panelGrid>
			<hr />
			<p:commandButton value="Save Forecast"
				action="#{propertyBondController.savePropertyBond(propertyBondViewModel, customerViewModel)}">
			</p:commandButton>
		</h:form>
	</p:dialog>
</ui:composition>
</html>