<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">Finance App</ui:define>
	<ui:define name="content">
		<h:form>
			<b:container>
				<b:jumbotron>
					<h1>BootsFaces Starter Template</h1>
					<p>Use this JSF document as a way to quickly start any new
						project.</p>
					<p>All you get is this text and a mostly barebone JSF document.</p>
					<p>
						<a
							href="https://github.com/TheCoder4eu/BootsFaces-examples/blob/master/src/main/webapp/starter_template.xhtml"
							class="btn btn-lg btn-info">View Page Source »</a>
					</p>
				</b:jumbotron>
			</b:container>
		</h:form>
	</ui:define>
</ui:composition>

</html>