<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:b="http://bootsfaces.net/ui" xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Project Name</title>
	<meta name="author" content="The Author"></meta>
</h:head>
<h:body style="padding: 60px;">
	<b:navBar brand="Finance App" inverse="true" fixed="top" sticky="true"
		brandHref="#{dispatcher.getPage('index')}" fluid="true">
		<h:form>
			<b:navbarLinks>
				<b:navCommandLink value="Investments"
					action="#{dispatcher.getPage('investmentHome')}" />
				<b:navCommandLink value="Property Bonds"
					action="#{dispatcher.getPage('propertyBondHome')}" />
				<b:dropMenu value="Dropdown" iconAwesome="birthday-cake">
					<b:navCommandLink value="Action" href="#"></b:navCommandLink>
					<b:navCommandLink value="Another action" href="#"></b:navCommandLink>
					<b:navCommandLink value="Something else here" href="#"></b:navCommandLink>
					<b:navCommandLink></b:navCommandLink>
					<b:navCommandLink header="Nav header"></b:navCommandLink>
					<b:navCommandLink value="Separated link" href="#"></b:navCommandLink>
					<b:dropMenu value="Nested submenu" iconAwesome="birthday-cake"
						iconAlign="right">
						<b:navCommandLink value="You can nest menus" href="#"></b:navCommandLink>
						<b:dropMenu value="Nested sub-submenu">
							<b:navCommandLink value="... as deep as ..." href="#"></b:navCommandLink>
							<b:dropMenu value="Nested sub-sub-submenu">
								<b:navCommandLink value="... you want!" href="#"></b:navCommandLink>
							</b:dropMenu>
						</b:dropMenu>

					</b:dropMenu>
					<b:navCommandLink value="One more separated link" href="#"></b:navCommandLink>
				</b:dropMenu>
			</b:navbarLinks>
		</h:form>
		<h:form class="navbar-form navbar-left hidden-md hidden-sm hidden-xs"
			role="search">
			<div class="form-group">
				<h:inputText class="form-control" placeholder="Search" />
			</div>
			<p:commandButton value="Submit" class="btn btn-default"></p:commandButton>
		</h:form>
		<!-- Following line is needed for TBS 3.0.1 (panel content overflow issue) -->
		<h:form>
			<b:navbarLinks pull="right">
				<b:navLink value="    " href="#"></b:navLink>
			</b:navbarLinks>
			<b:navbarLinks pull="right" styleClass="hidden-xs">
				<b:navLink value="Link" href="#"></b:navLink>
				<b:dropMenu value="Dropdown">
					<b:navLink value="Action" href="#"></b:navLink>
					<b:navLink value="Another action" href="#"></b:navLink>
					<b:navLink value="Something else here" href="#"></b:navLink>
					<b:navLink></b:navLink>
					<b:navLink header="Nav header"></b:navLink>
					<b:navLink value="Separated link" href="#"></b:navLink>
					<b:navLink value="One more separated link" href="#"></b:navLink>
				</b:dropMenu>
			</b:navbarLinks>
		</h:form>
	</b:navBar>
	<b:container>
		<b:jumbotron>
			<h1>BootsFaces Starter Template</h1>
			<p>Use this JSF document as a way to quickly start any new
				project.</p>
			<p>All you get is this text and a mostly barebone JSF document.</p>
			<p>
				<a
					href="https://github.com/TheCoder4eu/BootsFaces-examples/blob/master/src/main/webapp/starter_template.xhtml"
					class="btn btn-lg btn-info">View Page Source »</a>
			</p>
		</b:jumbotron>
	</b:container>

</h:body>
</html>