<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">Investment Forecast</ui:define>
	<ui:define name="content">
	#{investmentController.generateForecast(investmentViewModel)}
		<p:tabView id="tabView">
			<p:tab title="Forecast Table">

				<!-- Event dialog -->
				<ui:include
					src="/faces/dependencies/investment/dialogs/event-dialog.xhtml" />

				<!-- Persistence -->
				<ui:include
					src="/faces/dependencies/investment/dialogs/save-forecast-dialog.xhtml" />

				<h:form id="forecastForm">

					<!-- Table Content -->
					<p:dataTable id="forecastTable" var="entry"
						value="#{investmentViewModel.forecast}" scrollable="true"
						resizableColumns="true" scrollHeight="512"
						style="font-size:1.15em; border: 1pt solid #d4d4d4;">

						<f:facet name="header">
							<p:tooltip value="Investment Forecast Table" />
							<h:panelGroup style="display: block; text-align: left;">
								<p:commandButton id="add-event"
									onclick="PF('events-dialogue').show();" value="&#128197;Event"
									style="margin-left: 4px;" />
								<p:commandButton id="save-as-pdf" ajax="false"
									value="&#128190;PDF" style="margin-left: 4px;">
									<p:dataExporter type="pdf"
										target="tabView:forecastForm:forecastTable"
										fileName="investment-forecast" />
								</p:commandButton>
								<p:commandButton value="🌍Save" type="button"
									onclick="PF('save-dialogue').show();" style="margin-left: 4px;" />
							</h:panelGroup>

							<p:panel header="Investment Summary" toggleable="true"
								collapsed="true" toggleSpeed="500" closeSpeed="500"
								widgetVar="summary-panel" style="border: none;">


								<!-- Summary Content -->
								<p:panelGrid>
									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Principal (R)" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{investmentViewModel.principal}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Term (M)" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{investmentViewModel.term}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Interest Rate (%)" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{investmentViewModel.interestRate}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Future Value (R)" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{investmentViewModel.closingBalance}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Total Interest (R)" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{investmentViewModel.totalInterest}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Total Contribution (R)" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText
												value="#{investmentViewModel.totalContribution}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>
								</p:panelGrid>
							</p:panel>
						</f:facet>

						<!-- Month -->
						<p:column headerText="Month" class="forecast-time-column">
							<h:outputText value="#{entry.month}"
								style="font-family: monospace;" />
						</p:column>

						<!-- Balance -->
						<p:column headerText="Opening Balance (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.openingBalance}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Contribution -->
						<p:column headerText="Monthly Contribution (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.monthlyAmount}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Deposit -->
						<p:column headerText="Deposit / Withdrawal (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.amount}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Rate -->
						<p:column headerText="Interest Rate (%)"
							class="forecast-ration-column">
							<h:outputText value="#{entry.interestRate}"
								style="font-family: monospace;">
								<f:convertNumber type="number" groupingUsed="true"
									minFractionDigits="2" pattern="#0.00" />
							</h:outputText>
						</p:column>

						<!-- Interest -->
						<p:column headerText="Interest Amount (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.interest}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Balance -->
						<p:column headerText="Closing Balance (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.closingBalance}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

					</p:dataTable>
				</h:form>
			</p:tab>

`			<p:tab title="Forecast Graph">
				<p:chart id="forecast-graph" type="line"
					model="#{investmentLineVisualisation.getModel(investmentViewModel)}"
					style="height:512px;" />
			</p:tab>

		</p:tabView>

	</ui:define>
</ui:composition>

</html>