<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="/WEB-INF/templates/finance-app-tmpl.xhtml">
	<ui:define name="title">propertyBond Forecast</ui:define>

	<ui:define name="content">
		#{propertyBondController.generateForecast(propertyBondViewModel)}
		
		<!-- Events dialog -->

		<ui:include
			src="/faces/dependencies/property-bond/dialogs/event-dialog.xhtml" />

		<!-- Persistence -->
		<!-- Save forecast dialog -->
		<ui:include
			src="/faces/dependencies/property-bond/dialogs/save-forecast-dialog.xhtml" />

		<!-- Summary Content -->
		<p:tabView>

			<p:tab title="Forecast Table">
				<h:form>
					<!-- Table Content -->
					<p:dataTable id="forecast-table" var="entry"
						value="#{propertyBondViewModel.forecast}" scrollable="true"
						resizableColumns="true" scrollHeight="512"
						style="font-size:1.15em; border: 1pt solid #d4d4d4;">

						<f:facet name="header">

							<!-- Table Summary -->
							<p:panel header="Property Bond Summary" toggleable="true"
								collapsed="true" toggleSpeed="500" closeSpeed="500"
								widgetVar="summary-panel" style="border-style: none;">

								<!-- Summary Content -->
								<p:panelGrid style="width: 30em; margin: 0 auto;">
									<p:row>
										<p:column>
											<h:outputText value="Term" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.term}" />
										</p:column>
									</p:row>

									<p:row>
										<p:column colspan="2"
											style="text-align: center; background-color: #f5f5f5;">
											<h:outputText value="Repayments (R)" />
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Principal" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.principal}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Total Interest Amount" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.totalInterest}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText escape="false" value="Conveyancing Fees" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.conveyanceFees}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText escape="false" value="Conveyancing Vat Fees" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText
												value="#{propertyBondViewModel.conveyanceVatFees}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText escape="false" value="Transfer Duty Fees" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText
												value="#{propertyBondViewModel.transferDutyFees}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText escape="false" value="Transfer Fees" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.transferFees}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

									<p:row>
										<p:column style="text-align: left;">
											<h:outputText value="Total Repayment" />
										</p:column>
										<p:column style="text-align: right;">
											<h:outputText value="#{propertyBondViewModel.totalRepayment}">
												<f:converter
													converterId="com.psybergate.web.converter.MoneyFormatter" />
											</h:outputText>
										</p:column>
									</p:row>

								</p:panelGrid>

							</p:panel>

							<h:panelGroup style="display: block; text-align: left;">
								<p:commandButton id="add-event"
									onclick="PF('events-dialogue').show();" value="&#128197;Event"
									style="margin-left: 4px;" />
								<p:commandButton id="save-as-pdf" ajax="false"
									value="&#128190;PDF" style="margin-left: 4px;">
									<p:dataExporter type="pdf" target="forecast-table"
										fileName="property-bond-forecast" />
								</p:commandButton>
								<p:commandButton value="🌍Save" type="button"
									onclick="PF('save-dialogue').show();" style="margin-left: 4px;" />
							</h:panelGroup>
						</f:facet>

						<!-- Month -->
						<p:column headerText="Month" class="forecast-time-column">
							<h:outputText value="#{entry.month}"
								style="font-family: monospace;" />
						</p:column>

						<!-- Balance -->
						<p:column headerText="Opening Balance (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.openingBalance}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Contribution -->
						<p:column headerText="Monthly Repayment (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.monthlyAmount}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Deposit -->
						<p:column headerText="Deposit / Withdrawal (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.amount}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Rate -->
						<p:column headerText="Interest Rate (%)"
							class="forecast-ration-column">
							<h:outputText value="#{entry.interestRate}"
								style="font-family: monospace;">
								<f:convertNumber type="number" groupingUsed="true"
									minFractionDigits="2" pattern="#0.00" />
							</h:outputText>
						</p:column>

						<!-- Interest -->
						<p:column headerText="Interest Amount (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.interest}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>

						<!-- Balance -->
						<p:column headerText="Closing Balance (R)"
							class="forecast-monetary-column">
							<h:outputText value="#{entry.closingBalance}"
								style="font-family: monospace;">
								<f:converter
									converterId="com.psybergate.web.converter.MoneyFormatter" />
							</h:outputText>
						</p:column>
					</p:dataTable>
				</h:form>

			</p:tab>

			<p:tab title="Forecast Graph">
				<p:chart type="line"
					model="#{propertyBondLineVisualisation.getModel(propertyBondViewModel)}"
					style="height:512px;" />
			</p:tab>

		</p:tabView>

	</ui:define>
</ui:composition>

</html>